<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="server" value="TIT0628220W11-1\SQLEXPRESS"/>
		<add key="database" value="cabelao"/>
	</appSettings>
</configuration>